/* 
    Created on : 2018-01-14, 11:09:56
    Author     : FotoKrakus.com
*/
// -----------------------------------------------------------------------------
//
//      Typographic
//
// -----------------------------------------------------------------------------

$open-sans : 'Open Sans', 'Lato', 'sans-serif';
$lato      : 'Lato', 'Rubik', 'sans-serif';
$calibri   : 'Calibri', 'Candara', 'Segoe', 'Segoe UI', 'Optima', 'Arial', 'sans-serif';
$geneva    : 'Geneva', 'Tahoma', 'Verdana', 'sans-serif';
$segoe     : 'Segoe', 'Segoe UI', 'Helvetica Neue', 'Arial', 'sans-serif';
$tahoma    : 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
$verdana   : 'Verdana', 'Geneva', 'sans-serif';
