##### Sass
.sass-cache/
.sass-cache/**/*

#####
_*
*.dat
*.txt
*.ini
*.xml

##### vscode
.vscode/
.vscode/**/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
*.[oa]

##### Sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

# SFTP configuration file
.htaccess
sftp-config.json

##### Numerous always-ignore extensions
*.diff
*.dmg
*.err
*.eot
*.gz
*.log
*.orig
*.rej
*.swo
*.swp

*.7z
*.iso
*.rar
*.zip

*.jar
*.swp
*.swo
*.tar

*.svg
*.ttf
*.woff
*.woff2

*.url
*~

##### images
*.gif
*.ico
*.png
*.jpeg
*.jpg

assets/images/
assets/images/**/*

assets/gallery/img/**/*
assets/gallery/fonts/**/*

##### OS or Editor folders
.DS_Store
ehthumbs.db
Icon?
$RECYCLE.BIN/
Desktop.ini
Thumbs.db
.cache
.settings
.project
.idea
package-lock.json

##### Folders to ignore Yeoman
bower_components/**/*
node_modules/**/*
temp
tmp
.tmp
